@import "tailwindcss";
@theme {
  --color-gray-700: #b3b3b3;
  --color-gray-800: #5b5b5b;
  --color-gray-950: #2c3e50;
  --color-bgBlue: #2e7ed41a;
  --color-primaryBlue: #2e7ed4;
  --color-customGray: #eaeced;
  --color-bgGreen: #d9f1e1;
  --color-bgOrange: #f8e9d6;
  --color-bgRed: #f8dfdc;
  --color-bgPurple: #dfe8fb;
  --color-body: #2c3e50;
  --color-green: #1ba3a3;
  --color-textcolor: #303030;
  --color-tabsBg: #f8fafc;
}

body {
  @apply text-gray-950;
}

/* Global Scrollbar Styling */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a7a7a7 #eaeced; /* For Firefox: thumb and track colors */
}

/* For Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #eaeced;
}

*::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 10px;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1ba3a3;
}

/* header */
.close-sidebar .header {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
}

.btn-table {
  @apply w-[163px];
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@keyframes slow-slide {
  0% {
    transform: translateX(-100%);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateX(100%);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(-100%);
    animation-timing-function: ease-in;
  }
}

.animate-slow-slide {
  animation: slow-slide 6s infinite; /* slower */
}

/* querill  */
.ql-editor p {
  margin: 0;
  line-height: 1.5;
}
