@import "tailwindcss";
@theme {
  --color-gray-700: #b3b3b3;
  --color-gray-800: #5b5b5b;
  --color-gray-950: #2c3e50;
  --color-bgBlue:#2E7ED41A;
  --color-primaryBlue:#2E7ED4;
  --color-customGray:#EAECED;
  --color-bgGreen:#D9F1E1;
  --color-bgOrange:#F8E9D6;
  --color-bgRed:#F8DFDC;
  --color-bgPurple: #DFE8FB;
  --color-body: #2C3E50;
  --color-green: #1BA3A3;
  --color-textcolor: #303030;
  --color-tabsBg: #F8FAFC;
}
body {
  @apply text-gray-950;
}

/* Global Scrollbar Styling */
* {
  scrollbar-width: thin;              /* For Firefox */
  scrollbar-color: #a7a7a7 #EAECED;   /* For Firefox: thumb and track colors */
}

/* For Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;          
  height: 8px;    
}

*::-webkit-scrollbar-track {
  background: #EAECED;  
}

*::-webkit-scrollbar-thumb {
  background-color: #a7a7a7; 
  border-radius: 10px;       
  border: 2px solid transparent; 
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #1BA3A3; 
}


/* header */
.close-sidebar .header{
  width: 100%;
}

@media (max-width: 768px) {
  .header{
    width: 100%;
  }
}

.btn-table {
  @apply w-[163px]
}